.product-card {
    height: 100%;
    position: relative;
    background: var(--color-bg-secondary);
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 1rem;
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .product-info-circle {
        position: absolute;
        top: 8px;
        right: 8px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: var(--color-bg);
        box-shadow: var(--shadow);

        color: var(--color-accent-primary);
        font-weight: bold;
        font-size: 20px;
        line-height: 1;
        text-decoration: none;

        cursor: pointer;
        transition: transform 0.2s ease, background 0.3s ease;

        &:hover {
            transform: scale(1.1);
            background: var(--color-bg-secondary);
        }
    }
}
